In [ ]:
import pandas as pd
df = pd.read_csv("customer_shopping_behavior.csv")
df.head()
df.info

In [ ]:
# To check the summary statastics
df.describe()
# By default it gives summary for Numerical Data only
# To see numerical and categorical both use

df.describe(include='all')



*   We begin by **checking missing values** in the dataset to understand data quality issues.

* From the null value summary, we observe that the **review_rating column has 37 missing values**.

* Before directly filling these values, it is important to **pause and think** about the right imputation strategy.

* A common approach is to replace missing values with the **mean or median**.

* Between the two, **median is preferred** over mean because:

* **Mean is sensitive to outliers** and can distort the distribution.

* **Median is robust to outliers** and better represents the central tendency.

* One might be tempted to simply fill all missing ratings using the **overall median of the column.**

* Although this method technically works, it is **not best practice in this scenario.**

* Review ratings can **vary significantly across product categories.**

* For example, the Clothing category may have a very different rating pattern compared to the Footwear category.

* Using a single global median **would force all categories to share the same rating behavior**, which introduces **bias** into the dataset.

* To avoid this, we adopt a more thoughtful and data-aware approach.

* We **impute missing values** using the median review rating within each product category.

**This ensures that:**

* A missing rating for a **Clothing item is replaced with the median rating** of Clothing items.

* It is **not influenced** by ratings from unrelated categories like Footwear.

* This approach **preserves category-level characteristics, reduces bias, and results in higher-quality data** for downstream analysis and modeling.

In [ ]:
# Now Lets Check the missing Values
df.isnull().sum()

In [ ]:
# We impute missing values using the median review rating within each product category

#  That way if a clothing item is missing its review rating, it gets replaced with the median review rating of a clothing item, not a footwear item.

df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [ ]:
df.isnull().sum()

* Let’s first inspect the column names in the dataset.

* We notice that the column names contain:

  * A mix of uppercase and lowercase letters

  * Spaces between words

  * In some cases, inconsistent formatting

* While this may look readable, it can create practical issues during analysis.

* Column names with uppercase letters, spaces, or special characters require:

  * Quotation marks in SQL queries

  * Exact formatting recall in Python code

* This increases the chances of syntax errors and slows down development.

* To avoid these issues, it is considered a best practice to standardize column names.

* We will convert all column names to snake_case.

* Snake_case means:

  * All letters are lowercase

  * Words are separated using underscores (_)

* For example:

  Customer ID → customer_id

* Standardizing column names improves:

  * Code readability

  * Consistency across Python and SQL

  * Ease of querying and maintenance

* This step ensures a clean, analysis-ready dataset and smoother downstream workflows.

In [ ]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns

* Now let’s take a look at the column names again.

* We can see that most of the column names look clean and consistent.

* However, the purchase_amount_usd column still contains unit information (usd) in the name.

* While this is not wrong, it can be simplified for better readability and analysis.

* Since the currency unit is already known or documented elsewhere, we can keep the column name concise.

* Therefore, we will rename purchase_amount_(usd) to purchase_amount.

* This improves clarity while keeping the naming convention consistent.

In [ ]:
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

df.columns

* All column names are now standardized using snake_case, making the dataset clean and consistent.

* With a well-prepared dataset, we can now move on to feature engineering.

* Feature engineering helps us derive new insights by transforming existing variables into more meaningful features.

* Age as a continuous variable is useful, but for segmentation and analysis, grouping ages can be more insightful.

* Therefore, we will create a new categorical column called age_group.

* This column will group customers into four meaningful age segments:

    * Young Adult

    * Adult

    * Middle-aged

    * Senior

These age groups will help in:

    * Customer segmentation

    * Behavioral analysis

    * Targeted marketing insights

    * Easier visualization in dashboards

In [ ]:
# create a column age_group
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q = 4, labels = labels)

In [ ]:
df[['age','age_group']].head(10)

In [ ]:
df

* Next, we will create another engineered feature called purchase_frequency_days.

* The dataset currently contains a column named frequency_of_purchases.

* This column describes how often a customer shops, but it is stored in textual form (e.g., weekly, monthly, quarterly).

* While text labels are easy to read, they are not ideal for numerical analysis.

    * Working with text makes it difficult to:

    * Compare customers quantitatively

    * Calculate averages or trends

    * Build metrics or models

* To make the data more analysis-friendly, we will convert these textual frequencies into numerical values.

* Specifically, we will map each frequency to the approximate number of days between purchases.

* This results in a new numerical column called purchase_frequency_days.

* By doing this, we transform qualitative information into quantitative data.

* This makes it significantly easier to:

    * Compare customer purchasing behavior

    * Perform aggregations and calculations

    * Use the feature in statistical analysis or modeling

* To convert purchase frequency from text to numeric values, we first create a mapping dictionary.

* This dictionary, called frequency_mapping, links each textual frequency to its equivalent number of days between purchases.

    For example:

    Weekly → 7 days

    Fortnightly → 14 days

    Monthly → 30 days

    Quarterly → 90 days

* Using a dictionary ensures:

    Clear and transparent logic

    Easy modification if business assumptions change

* Once the mapping is defined, we use the map() function.

* The map() function replaces each textual value in the frequency_of_purchases column with the corresponding numeric value from the dictionary.

* The result is a new numerical feature called purchase_frequency_days.

* This transformation makes the data quantitative, consistent, and easier to analyze.

In [ ]:
# create column purchase_frequency_days
# convert textual frequency in numbers

frequency_mapping = {
    'Fortnightly' : 14,
    'Weekly' : 7,
    'Monthly' : 30,
    'Quarterly': 90,
    'Bi-weekly' : 14,
    'Annually': 365,
    'Every 3 Months' : 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [ ]:
df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

* After converting purchase frequency into numeric days, we now have a much clearer view of customer purchasing behavior.

* Instead of vague terms like weekly or monthly, we can now analyze the exact number of days between purchases, which is extremely valuable for:

    Customer segmentation

    Loyalty analysis

    Behavioral comparisons

* Next, let’s examine two related columns:

    discount_applied

    promo_code_used

* At first glance, these two columns may appear to represent the same information.

* It’s easy to assume that if a promo code was used, a discount must have been applied.

* However, in real-world business scenarios:

    Discounts can be applied without promo codes

    Examples include:

    Automatic seasonal sales

    Member-exclusive discounts

    System-applied price reductions

* This raises important data questions:

    Do we actually need both columns?

    Do they always contain the same values?

    Is one column redundant?

* Before making any assumptions or dropping columns, we should validate this using data.

* Therefore, the next step is to analyze and compare these two columns to understand their relationship.

In [ ]:
df[['discount_applied', 'promo_code_used']].head(10)

In [ ]:
(df['discount_applied'] == df['promo_code_used']).all()

* We compare the discount_applied and promo_code_used columns using an equality check to see if they contain the same values.

* By applying .all() to the comparison, we verify whether every row matches across both columns.

* The result returns True, which means both columns carry exactly the same information.

* Since promo_code_used does not add any additional insight, it is redundant.

* Keeping redundant columns can increase complexity without improving analysis.

* Therefore, we remove the promo_code_used column from the dataset using df.drop() to keep the data clean and streamlined.

In [ ]:
df = df.drop('promo_code_used', axis=1)

* Now promo code use will be dropped. Let's check. 

* And you can see there is no promo code used. We only have discount applied.

All right.

In [ ]:
df.columns

**I tried following steps in PostgreSQL and it worked, though I am feeling more confident using My SQL so I am proceed with that. Following are the step to follow in PostgreSQL**


* Now that we have completed initial data exploration and feature engineering, the next step is to move the dataset into PostgreSQL for deeper analysis.

* Using SQL allows us to:

        Run complex queries

        Analyze customer behavior more efficiently

        Answer business questions in a structured, scalable way

* Before loading the data, we first need a database to store our table.

* In pgAdmin, we create a new database by:

        Right-clicking on Databases

        Selecting Create → Database

        Naming the database (e.g., customer_behavior)

* Once the database is created and saved, we return to the Jupyter Notebook.

* The next step is to connect Jupyter Notebook with PostgreSQL.

* To enable this connection, we need two libraries:

        psycopg – to establish a connection with PostgreSQL

        SQLAlchemy – to manage database connections and load data efficiently

* Therefore, we install both libraries using pip before proceeding with the database connection and data loading steps.

In [ ]:
pip install psycopg2-binary sqlalchemy

* Now that the database is ready, the next step is to connect our Jupyter Notebook to PostgreSQL.

* To establish this connection, we need a few credentials:

        Username

        Password

        Host

        Port

        Database name (the one we just created)

* Once the connection is established, we can load our Pandas DataFrame into PostgreSQL as a new table.

* The table can be named anything; for now, we’ll name it customer.

* If you’re unsure about the credentials:

        The host is usually localhost

        The default port for PostgreSQL is 5432

        The password is the same one used to log in to pgAdmin

* To verify the remaining details:

        Open pgAdmin

        Right-click on PostgreSQL

        Select Properties

        Go to the Connection tab

        Here, you can find the host name, port, and username

* Once these details are confirmed, we can safely proceed to connect Python with PostgreSQL and push the data into the database.

In [ ]:
# from sqlalchemy import create_engine


# # Step 1: Connect to PostgreSQL
# # Replace Placeholders with your actual details

# username = "postgres"       # default user
# password = "Pass@123"      # the password you set during installation
# host = "localhost"          # if running locally
# port = "5432"               # default PostgreSQL port
# database = "mydatabase"      # The database you created in pgAdmin

# engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

In [ ]:
# # Important: I add this step because in my password: Pass@123 contains "@"" symbol and it generates error To resolve this 
# # IMPORTANT NOTE: Connecting to PostgreSQL with SQLAlchemy
# # - If your password contains special characters like @, #, :, / etc.,
# #   you MUST escape it properly using urllib.parse.quote_plus()
# # - Without escaping, SQLAlchemy misinterprets the connection string
# #   (e.g. password "Pass@123" → thinks host is "23@localhost")
# # - Solution used here: quote_plus() – safest & recommended method

# Escape the password (critical step!)
# escaped_password = quote_plus(password)

# engine = create_engine(
#     f"postgresql+psycopg2://{username}:{escaped_password}@{host}:{port}/{database}"
# )

# from urllib.parse import quote_plus

# password = "Pass@123"
# engine = create_engine(
#     f"postgresql+psycopg2://postgres:{quote_plus(password)}@localhost:5432/customer_behavior"
# )

# df.to_sql("customer", engine, if_exists="replace", index=False)

In [ ]:
# # Step 2: Load DataFrame into PostgreSQL
# table_name = "customer"     # Choose any table name
# df.to_sql(table_name, engine, if_exists="replace", index=False)

# print(f"Data Successfully loaded into table '{table_name}' in database '{database}'.")

**Code for MySQL**

In [ ]:
pip install pymysql sqlalchemy

In [ ]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "root"
password = "Pass@123"
host = "localhost"
port = 3306
database = "mydatabase"

# Safest way
engine = create_engine(
    f"mysql+pymysql://{username}:{quote_plus(password)}@{host}:{port}/{database}"
)

print("Engine created successfully!")
# Now you can use engine with pandas, etc.
# df.to_sql(..., con=engine, ...)

In [ ]:
# Write DataFrame to My SQL
# Before running this you need to create database in mysql

table_name = 'mytable'      # Choose any table name
df.to_sql(table_name, engine, if_exists = "replace", index = False)

print(f"Data Successfully loaded into table '{table_name}' in database '{database}.")

In [ ]:
# Read back sample
pd.read_sql("select * from mytable limit 5;" , engine)